# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore all IDE files.
/.idea

# Ignore all OS files.
/.DS_Store

# Ignore database configuration.
/config/database.yml
